.container{
    background-color: white;
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    padding: 2rem;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
}


.imgTamanho{
    width: 100px;
    height: 100px;
}

.cardSize{
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    margin-bottom: 30px; 
}